* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 20px;
}

.navbar {
    
    background-color: rgba(255, 255, 255, 0.637)  
}

.quem-somos{
   
    background-color: rgba(78, 82, 88, 0.4);
    color: darkslategrey;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.novidades{
    background-color:rgba(161, 79, 79, 0.4) ;
    color: rgb(65, 65, 65);
}


.bg-footer{
    background-color: lightgreen;
    color: mediumseagreen;
}